h1 {
  color:blue;
  font-family:helvetica;
  background-color: pink;
  border: 5px solid green;
  padding:50px;
}
p {
  color:pink;
  background-color: grey;
  border: 2px dotted green;
}

h3 {
  color:blue;
  background-color: white;
  border: 3px double pink;
}
img {
  border: 5px solid fuchsia;
  width:40%;
  height:40%;
  margin-left:100px;
  margin-top:100px;
}
